{% extends "pages/base.html" %} 
{% block title %} Doc excel {% endblock %}
{%load static %} {%block content%}
<!--? slider Area Start-->
<section class="slider-area slider-area2">
  <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider slider-height2">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-11 col-md-12">
            <div class="hero__caption hero__caption2">
              <h1 data-animation="bounceIn" data-delay="0.2s">Read excel</h1>
              <!-- breadcrumb Start-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{%url 'home:index'%}">Home</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="{{request.get_full_path}}">Read excel</a>
                  </li>
                </ol>
              </nav>
              <!-- breadcrumb End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container container-h-100">
  <table id="showExcel" class="table">
  </table>
</div>
<script>
  /* set up XMLHttpRequest */
  const namefile = "course1.xlsx";
  var url = "{% get_media_prefix %}" + namefile;
  console.log(url);
  
  fetch(`${url}`).then(function (res) {
    /* get the data as a Blob */
    if (!res.ok) throw new Error("fetch failed");
    return res.arrayBuffer();
  })
  .then(function (ab) {
    /* parse the data when it is received */
    var data = new Uint8Array(ab);
    var workbook = XLSX.read(data, {
        type: "array"
    });

    /* *****************************************************************
    * DO SOMETHING WITH workbook: Converting Excel value to Json       *
    ********************************************************************/
    var first_sheet_name = workbook.SheetNames[0];
    /* Get worksheet */
    var worksheet = workbook.Sheets[first_sheet_name];

    var _JsonData = XLSX.utils.sheet_to_json(worksheet, { raw: true });
    /************************ End of conversion ************************/

    console.log(_JsonData);

    $.each(_JsonData, function (index, value) {

        $('#showExcel').append(

            '<tr>' +
                '<th scope="row">' +
                    value['id'] +
                '</th>' + 
                '<td>' +
                    value['question'] +
                '</td>' +  
                '<td>' +
                     
                        value['choice1'] +
                     
                '</td>' +
                '<td>' +
                     value['choice2'] +
                '</td>' +
                '<td>' +
                     value['choice3'] +
                '</td>' +
                '<td>' +
                     value['choice4'] +
                '</td>' +
                '<td>' +
                     value['answer'] +
                '</td>'+
            '</tr>'
        );
    });
});
</script>
{%endblock%}
